@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
.blog-content ul {
  list-style-type: disc !important;
  margin-left: 1.4rem !important;
}

.blog-content ol {
  list-style-type: decimal !important;
  margin-left: 1.4rem !important;
}

.blog-content li {
  display: list-item !important;
}

@theme {
  --color-cadet: #5f9ea0;
  --color-cadet-light: #77b5b8;
}

input[type='search']::-webkit-search-cancel-button {
  cursor: pointer;
}

.blog-content pre {
  white-space: pre-wrap !important;
  word-break: break-word;
  overflow-x: hidden !important;
  max-width: 100%;
}

.blog-content code {
  white-space: inherit;
}
